.konvajs-content {
    border: 1px solid #e4e4e4;
    background: #fff;
    box-shadow: 0 3px 3px 5px #e4e4e4;
}

.image-list {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    gap: 5px;
    flex-wrap: wrap;
}


/* admin part - canvas editor */
.modal-form-container input,
.modal-form-container select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    display: block;
}

.modal-form-container label {
    line-height: 35px;
    display: block;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-container button {
    padding: 5px;
    height: 35px;
}

.layout {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
}

.navigation {
    height: 40px;
    background: #f7f7f7;
    box-shadow: 0 2px 3px 2px #e4e4e4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout .canvas-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #e4e4e4;
    overflow: auto;
}

.layout .form-container {
    width: 300px;
    padding: 0;
}

.navigation .nav-action {
    margin-right: 20px;
    background: #3295ed;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
}

.navigation .go-back-action {
    margin-right: 20px;
    background: transparent;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.go-back-action svg {
    font-size: 16px;
}

.navigation .navigation h4 {
    font-weight: normal;
    font-size: 18px;
}

.flex {
    display: flex;
}

